{{- if eq .Values.global.externalServicesMock.regionInstancesCredentials.manage true }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.director.selfRegister.secret.name }}
  namespace: compass-system
type: Opaque
data:
  {{- $key := .Values.global.director.selfRegister.secret.key }}
  {{- $region := .Values.global.tests.selfRegistration.region}}
  {{- with .Values.global.director.selfRegister.local.templateMappings }}
  {{ $key }}: {{ printf `{"%s":{%s,%s,%s,%s,%s,%s}}` $region (tpl .clientIDMapping $) (tpl .clientSecretMapping $) (tpl .urlMapping $) (tpl .tokenURLMapping $) (tpl .x509CertificateMapping $) (tpl .x509KeyMapping $) | b64enc | quote }}
  {{- end }}
{{- end}}