apiVersion: v1
kind: Service
metadata:
    name: {{ template "fullname" . }}
    namespace: {{ .Release.Namespace }}
    labels:
        app: {{ .Chart.Name }}
        release: {{ .Release.Name }}
spec:
    type: ClusterIP
    ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.deployment.port }}
      protocol: TCP
      name: http
    - port: {{ .Values.global.externalServicesMock.certSecuredPort }}
      targetPort: {{ .Values.global.externalServicesMock.certSecuredPort }}
      protocol: TCP
      name: http-mtls
    - port: {{ .Values.global.externalServicesMock.ordCertSecuredPort }}
      targetPort: {{ .Values.global.externalServicesMock.ordCertSecuredPort }}
      protocol: TCP
      name: http-mtls-ord
    - port: {{ .Values.global.externalServicesMock.unsecuredPort }}
      targetPort: {{ .Values.global.externalServicesMock.unsecuredPort }}
      protocol: TCP
      name: http-unsecured
    - port: {{ .Values.global.externalServicesMock.basicSecuredPort }}
      targetPort: {{ .Values.global.externalServicesMock.basicSecuredPort }}
      protocol: TCP
      name: http-basic
    - port: {{ .Values.global.externalServicesMock.oauthSecuredPort }}
      targetPort: {{ .Values.global.externalServicesMock.oauthSecuredPort }}
      protocol: TCP
      name: http-oauth
    - port: {{ .Values.global.externalServicesMock.ordGlobalRegistryCertPort }}
      targetPort: {{ .Values.global.externalServicesMock.ordGlobalRegistryCertPort }}
      protocol: TCP
      name: http-ord-gr
    - port: {{ .Values.global.externalServicesMock.ordGlobalRegistryUnsecuredPort }}
      targetPort: {{ .Values.global.externalServicesMock.ordGlobalRegistryUnsecuredPort }}
      protocol: TCP
      name: http-ord-uns-gr
    - port: {{ .Values.global.externalServicesMock.unsecuredMultiTenantPort }}
      targetPort: {{ .Values.global.externalServicesMock.unsecuredMultiTenantPort }}
      protocol: TCP
      name: http-unsecured-multi-tenant-port
    selector:
        app: {{ .Chart.Name }}
        release: {{ .Release.Name }}
