deployment:
  minReplicas: 1
  maxReplicas: 1
  autoscaling:
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 75
  livenessProbe:
    initialDelaySeconds: 60
    timeoutSeconds: 10
    periodSeconds: 10
  readinessProbe:
    initialDelaySeconds: 5
    timeoutSeconds: 2
    periodSeconds: 5
  image:
    pullPolicy: Always
  resources: {}
  resourcesCloudsqlProxy: {}
  resourcesIstioProxy:
    requests: {}
    limits: {}
  args:
    containerPort: 3000
  securityContext: # Set on container level
    runAsUser: 2000
    allowPrivilegeEscalation: false
  strategy: {} # Read more: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
  nodeSelector: {}

rateLimit:
  maxTokens: 2000
  tokensPerFill: 200
  fillInterval: "60s"