{{- $directorApiUrl :=  printf "https://%s.%s%s/graphql" .Values.global.gateway.tls.host .Values.global.ingress.domainName .Values.global.director.prefix }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "fullname" . }}
  labels:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
data:
  config.js: |
    window.clusterConfig = {
      compassModuleUrl : 'https://{{ .Values.mf.host }}.{{ .Values.global.ingress.domainName }}',
      compassApiUrl: '{{ js $directorApiUrl }}',
      domain: '{{ .Values.global.ingress.domainName }}',
      clientIDHeaderKey: '{{ .Values.global.director.clientIDHeaderKey }}',
    };
