apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
      release: {{ .Release.Name }}
  strategy:
    {{- toYaml .Values.deployment.strategy | nindent 4 }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
        reqlimit: {{ .Values.global.istio.ingressgateway.requestPayloadSizeLimit2MBLabel }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.global.images.containerRegistry.path }}/{{ .Values.global.images.console.dir }}compass-console:{{ .Values.global.images.console.version }}
          imagePullPolicy: {{ .Values.deployment.image.pullPolicy }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.statusPort }}
            initialDelaySeconds: 10
          ports:
            - containerPort: {{ .Values.statusPort }}
            - containerPort: {{ .Values.service.internalPort }}
            - containerPort: {{ .Values.service.mfInternalPort }}
          resources:
            {{- toYaml .Values.deployment.resources | nindent 12 }}
          volumeMounts:
          - name: config
            mountPath: /var/public/config
          - name: config
            mountPath: /var/public-luigi/config
      nodeSelector:
        {{- toYaml .Values.deployment.nodeSelector | nindent 8 }}  
      volumes:
        - name: config
          configMap:
            name: {{ template "fullname" . }}
            items:
            - key: config.js
              path: config.js
