go 1.18

use (
	./components/connectivity-adapter
	./components/connector
	./components/director
	./components/external-services-mock
	./components/gateway
	./components/hydrator
	./components/operations-controller
	./components/pairing-adapter
	./components/system-broker
	./tests
)
