.fd-tabs {
  &.header-styles {
    padding: 0 15px;
  }  

  &.table-styles {
    margin: 0;
  }  

  ul {
    list-style-type: none;
  }
  
  .additionalContent {
    margin: 0 0 0 auto;
    padding-right: 15px;
    align-self: center;
  }
}
