apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.deployment.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
      release: {{ .Release.Name }}
  strategy:
    {{- toYaml .Values.deployment.strategy | nindent 4 }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
        release: {{ .Release.Name }}
    spec:
      {{ if .Values.global.isLocalEnv }}
      # HostAliases are used by Pod to resolve kyma.local domain
      hostAliases:
        - ip: {{ .Values.global.minikubeIP }}
          hostnames:
            # Used for calls to Director
            - "{{ .Values.global.gateway.tls.secure.oauth.host }}.{{ .Values.global.ingress.domainName }}"
            # Used for calls for oauth token
            - "{{ .Values.global.oauth2.host }}.{{ .Values.global.ingress.domainName }}"
      {{ end }}
      serviceAccountName: {{ template "fullname" . }}
      nodeSelector:
        {{- toYaml .Values.deployment.nodeSelector | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.global.images.containerRegistry.path }}/{{ .Values.global.images.system_broker.dir }}compass-system-broker:{{ .Values.global.images.system_broker.version }}
          imagePullPolicy: {{ .Values.deployment.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.deployment.args.containerPort }}
              protocol: TCP
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.deployment.securityContext }}
          securityContext:
{{ toYaml . | indent 12 }}
          {{- end }}
          env:
            - name: SERVER_PORT
              value: "{{ .Values.deployment.args.containerPort }}"
            # - name: SERVER_REQUEST_TIMEOUT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: SERVER_SHUTDOWN_TIMEOUT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            - name: SERVER_SELF_URL
              value: "https://{{ .Values.global.gateway.mtls.host }}.{{ .Values.global.ingress.domainName }}"
            - name: GRAPHQL_CLIENT_GRAPHQL_ENDPOINT
              value: "http://{{ .Values.global.gateway.tls.host }}.{{ .Release.Namespace }}.svc.cluster.local:{{.Values.global.gateway.port }}/director/graphql"
            # - name: GRAPHQL_CLIENT_ENABLE_LOGGING
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: LOG_LEVEL
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: LOG_FORMAT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: LOG_OUTPUT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: LOG_BOOTSTRAPCORRELATIONID
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: HTTP_CLIENT_TIMEOUT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: HTTP_CLIENT_TLS_HANDSHAKE_TIMEOUT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: HTTP_CLIENT_IDLE_CONN_TIMEOUT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: HTTP_CLIENT_RESPONSE_HEADER_TIMEOUT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: HTTP_CLIENT_DIAL_TIMEOUT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: HTTP_CLIENT_EXPECT_CONTINUE_TIMEOUT
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: HTTP_CLIENT_MAX_IDLE_CONS
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            # - name: HTTP_CLIENT_SKIP_SSL_VALIDATION
            #   value: "0.0.0.0:{{ .Values.deployment.args.containerPort }}"
            - name: HTTP_CLIENT_FORWARD_HEADERS
              value: "{{ .Values.global.system_broker.forwardHeaders }}"
            - name: HTTP_CLIENT_UNAUTHORIZED_STRING
              value: {{ .Values.global.system_broker.unauthorizedString }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.deployment.args.containerPort }}
            periodSeconds: 10
            timeoutSeconds: 3
            initialDelaySeconds: 30
          readinessProbe:
            httpGet:
              path: /readyz
              port: {{ .Values.deployment.args.containerPort }}
            periodSeconds: 5
            timeoutSeconds: 2
            initialDelaySeconds: 10
