apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-overrides
  namespace: kyma-installer
  labels:
    installer: overrides
    component: istio
    kyma-project.io/installation: ""
data:
  kyma_istio_operator: |-
    apiVersion: install.istio.io/v1alpha1
    kind: IstioOperator
    metadata:
      namespace: istio-system
    spec:
      hub: docker.io/querycapistio
      profile: demo    
      components:
        pilot:
          k8s: # each components have to set this
            affinity: &affinity
              nodeAffinity:
                preferredDuringSchedulingIgnoredDuringExecution:
                - preference:
                    matchExpressions:
                    - key: beta.kubernetes.io/arch
                      operator: In
                      values:
                      - arm64
                      - amd64
                  weight: 2
                requiredDuringSchedulingIgnoredDuringExecution:
                  nodeSelectorTerms:
                  - matchExpressions:
                    - key: beta.kubernetes.io/arch
                      operator: In
                      values:
                      - arm64
                      - amd64
        egressGateways:
        - name: istio-egressgateway
          k8s:
            affinity: *affinity
          enabled: false
        ingressGateways:
        - name: istio-ingressgateway
          k8s:
            affinity: *affinity
          enabled: true    
      values:
        pilot:
          jwksResolverExtraRootCA: "__CERT__"
          resources:
            limits:
              memory: 2048Mi
        global:
          jwtPolicy: first-party-jwt
          proxy:
            holdApplicationUntilProxyStarts: true
            resources:
              requests:
                cpu: 30m
                memory: 64Mi
              limits:
                cpu: 150m
                memory: 256Mi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: core-overrides
  namespace: kyma-installer
  labels:
    installer: overrides
    component: core
    kyma-project.io/installation: ""
data:
  test.external_solution.event_mesh.enabled: "false"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: monitoring-overrides
  namespace: kyma-installer
  labels:
    installer: overrides
    component: monitoring
    kyma-project.io/installation: ""
data:
  grafana.sidecar.resources.limits.memory: 256Mi
  grafana.sidecar.resources.limits.cpu: 200m
  grafana.sidecar.resources.requests.memory: 64Mi
  grafana.sidecar.resources.requests.cpu: 50m
  grafana.kyma.authProxy.enabled: "false"
  grafana.env.GF_AUTH_ANONYMOUS_ENABLED: "true"
  grafana.env.GF_AUTH_GENERIC_OAUTH_ENABLED: "false"
  global.monitoring_integration_tests.enabled: "false" # Tests rely on dex security which we already removed.
  prometheusOperator.configReloaderMemory: 256Mi
  prometheus-istio.server.resources.limits.memory: 1Gi
  pushgateway.enabled: "true"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-essentials-overrides
  namespace: kyma-installer
  labels:
    installer: overrides
    component: cluster-essentials
    kyma-project.io/installation: ""
data:
  limitRange.default.memory: 256Mi
  limitRange.defaultRequest.memory: 32Mi
  pod-preset.webhook.resources.limits.memory: 256Mi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: testing-overrides
  namespace: kyma-installer
  labels:
    installer: overrides
    component: testing
data:
  octopus.resources.limits.cpu: 200m
  octopus.resources.limits.memory: 256Mi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ory-overrides
  namespace: kyma-installer
  labels:
    installer: overrides
    component: ory
    kyma-project.io/installation: ""
data:
  global.ory.hydra.persistence.enabled: "false"
  global.ory.hydra.persistence.postgresql.enabled: "false"
  hydra.hydra.autoMigrate: "false"
  hydra.deployment.autoscaling.minReplicas: "1"
  hydra.deployment.autoscaling.maxReplicas: "1"
  hydra.deployment.resources.requests.cpu: "100m"
  hydra.deployment.resources.requests.memory: "128Mi"
  hydra.deployment.resources.limits.cpu: "250m"
  hydra.deployment.resources.limits.memory: "400Mi"
  oathkeeper.oathkeeper.config.serve.api.timeout.read: "120s"
  oathkeeper.oathkeeper.config.serve.api.timeout.write: "120s"
  oathkeeper.oathkeeper.config.serve.api.timeout.idle: "120s"
  oathkeeper.oathkeeper.config.mutators.id_token.config.ttl: "1h"
  oathkeeper.deployment.resources.limits.memory: "512Mi"
  oathkeeper.deployment.resources.limits.cpu: "250m"
  oathkeeper.deployment.resources.requests.memory: "128Mi"
  oathkeeper.deployment.resources.requests.cpu: "50m"
  oathkeeper.oathkeeper-maester.deployment.resources.requests.cpu: "50m"
  oathkeeper.oathkeeper-maester.deployment.resources.requests.memory: "64Mi"
  oathkeeper.oathkeeper-maester.deployment.resources.limits.cpu: "100m"
  oathkeeper.oathkeeper-maester.deployment.resources.limits.memory: "256Mi"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tracing-overrides
  namespace: kyma-installer
  labels:
    installer: overrides
    component: tracing
    kyma-project.io/installation: ""
data:
  global.tracing.enabled: "true"
  kcproxy.resources.limits.memory: 256Mi
  kcproxy.resources.requests.memory: 32Mi
  authProxy.resources.limits.memory: 256Mi
  authProxy.resources.requests.memory: 32Mi
  authProxy.enabled: "false"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kiali-overrides
  namespace: kyma-installer
  labels:
    installer: overrides
    component: kiali
    kyma-project.io/installation: ""
data:
  kcproxy.resources.limits.memory: 256Mi
  kcproxy.resources.requests.memory: 32Mi
  authProxy.resources.limits.memory: 256Mi
  authProxy.resources.requests.memory: 32Mi
  authProxy.enabled: "false"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: logging-overrides
  namespace: kyma-installer
  labels:
    installer: overrides
    component: logging
    kyma-project.io/installation: ""
data:
  global.logging_integration_tests.enabled: "false"
  logui.resources.limits.cpu: 160m
  logui.resources.limits.memory: 128Mi
  loki.resources.limits.memory: 512Mi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: disable-legacy-connectivity-override
  namespace: kyma-installer
  labels:
    installer: overrides
    kyma-project.io/installation: ""
data:
  global.disableLegacyConnectivity: "true"