deployment:
  image:
    pullPolicy: IfNotPresent

  securityContext: # Set on container level
    runAsUser: 2000
    allowPrivilegeEscalation: false

database:
  schemaFilePath: "/assets/database/provisioner.sql"

directorURL: "http://compass-director.compass-system.svc.cluster.local:3000/graphql"
hydraURL: "http://ory-hydra-public.kyma-system:4444/oauth2/token"

installation:
  timeout: 30m
  errorsCountFailureThreshold: 5

tests:
  enabled: false
  gcp:
    credentials: ""
    projectName: ""
  queryLogging: false
