.fd-badge.status-badge {
  font-size: var(--sapFontSize, 12.25px);
  font-family: var(
    --sapFontFamily,
    '72',
    '72full',
    Arial,
    Helvetica,
    sans-serif
  );
  font-weight: 700;
  line-height: 1;
  word-break: keep-all;
  text-transform: uppercase;

  margin: 0;
  padding: 0.14rem 0.4rem;

  display: inline-block;
  max-width: 100%;
  height: auto;
  min-height: 1rem;
  width: auto;
  border-radius: 0.125rem;

  background-color: var(--sapButton_Neutral_Background, #6a6d70);
  color: var(--sapButton_Neutral_TextColor, #fff);

  &--success {
    background-color: var(--sapButton_Success_Background, #107e3e);
  }
  &--warning {
    background-color: var(--sapButton_Critical_Background, #e9730c);
  }
  &--error {
    background-color: var(--sapButton_Negative_Background, #b00);
  }
  &--info {
    background-color: var(--sapInformativeElementColor, #0a6ed1);
  }

  &.has-tooltip {
    cursor: help;
  }
}
