{{- if .Values.global.gateway.mtls.manageCerts }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.connector.secrets.rootCA.cacert }}
  namespace: {{ .Values.global.connector.secrets.rootCA.namespace }}
type: Opaque
data:
  "cacert": "" # This value is populated by Connectivity Certs Setup Job
{{- end -}}
