apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: {{ .Values.global.istio.mtlsGateway.name }}
  namespace: {{ .Values.global.istio.mtlsGateway.namespace }}
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway
  servers:
    - port:
        number: 443
        name: https-mtls
        protocol: HTTPS
      tls:
        mode: MUTUAL
        credentialName: {{ .Values.global.gateway.mtls.certSecret }}
      hosts:
        - "{{ .Values.global.gateway.mtls.host }}.{{.Values.global.ingress.domainName}}"
        - "{{ .Values.global.connectivity_adapter.mtls.host }}.{{.Values.global.ingress.domainName}}"
---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: {{ .Values.global.istio.externalMtlsGateway.name }}
  namespace: {{ .Values.global.istio.externalMtlsGateway.namespace }}
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway
  servers:
    - port:
        number: 443
        name: https-mtls
        protocol: HTTPS
      tls:
        mode: MUTUAL
        credentialName: {{ .Values.global.gateway.mtls.external.certSecret }}
      hosts:
        - "{{ .Values.global.gateway.mtls.external.host }}.{{.Values.global.ingress.domainName}}"
        {{- if eq .Values.global.externalServicesMock.enabled true }}
        - "{{ .Values.global.externalServicesMock.certSecuredHost }}.{{.Values.global.ingress.domainName}}"
        - "{{ .Values.global.externalServicesMock.ordCertSecuredHost }}.{{.Values.global.ingress.domainName}}"
        - "{{ .Values.global.externalServicesMock.ordGlobalCertSecuredHost }}.{{.Values.global.ingress.domainName}}"
        {{- end }}
---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: {{ .Values.global.istio.discoveryMtlsGateway.name }}
  namespace: {{ .Values.global.istio.discoveryMtlsGateway.namespace }}
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway
  servers:
    - port:
        number: 443
        name: https-mtls
        protocol: HTTPS
      tls:
        mode: MUTUAL
        credentialName: {{ .Values.global.istio.discoveryMtlsGateway.certSecretName }}
      hosts:
        - "*.{{ .Values.global.ingress.discoveryDomain.name }}"
---
{{- if .Values.gateway.enabled }}
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: {{ .Values.global.istio.gateway.name }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway
  servers:
    - port:
        number: 443
        name: https
        protocol: HTTPS
      tls:
        mode: SIMPLE
        credentialName: {{ .Values.global.istio.gateway.name }}-certs
      hosts:
        - "*.{{ .Values.global.ingress.domainName }}"
    - port:
        number: 80
        name: http
        protocol: HTTP
      tls:
        httpsRedirect: true # automatic 301 redirect from http to https
      hosts:
        - "*.{{.Values.global.ingress.domainName}}"
{{- end -}}
