{{- if and (eq .Values.gateway.enabled true) (eq .Values.gateway.manageCerts true) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.gateway.mtls.certSecret }}
  namespace: istio-system
type: Opaque
data:
  "key": {{ .Values.global.ingress.tlsKey }}
  "cert": {{ .Values.global.ingress.tlsCrt }}
{{- end -}}
