{{- if .Values.global.gateway.mtls.manageCerts }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.gateway.mtls.certSecret }}
  namespace: istio-system
type: Opaque
data:
  "key": {{ .Values.global.ingress.tlsKey }}
  "cert": {{ .Values.global.ingress.tlsCrt }}
{{- end -}}
