apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-gateway-oauth
spec:
  description: Configuration of oathkeeper for secure endpoint of compass gateway
  upstream:
    url: "http://compass-gateway.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.global.gateway.port }}"
  match:
    methods: ["GET", "POST", "OPTIONS"]
    url: <http|https>://{{ .Values.global.gateway.tls.secure.oauth.host }}.{{ .Values.global.ingress.domainName }}<(:(80|443))?>{{ .Values.global.director.prefix }}/graphql
  authenticators:
  - handler: oauth2_introspection
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tenantMappingService | indent 4 }}
  - handler: id_token
    config:
      claims: {{ .Values.global.oathkeeper.idTokenConfig.claims | quote }}
---
apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-gateway-ord-oauth
spec:
  description: Configuration of oathkeeper for secure endpoint of compass open resource discovery service
  upstream:
    url: "http://{{ .Values.global.ordService.host }}:{{ .Values.global.ordService.port }}"
  match:
    methods: ["GET"]
    url: <http|https>://{{ .Values.global.gateway.tls.host }}.{{ .Values.global.ingress.domainName }}<(:(80|443))?><{{ .Values.global.ordService.prefix }}|{{ .Values.global.ordService.staticPrefix }}>/<.*>
  authenticators:
    - handler: oauth2_introspection
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tenantMappingService | indent 4 }}
  - handler: id_token
    config:
      claims: {{ .Values.global.oathkeeper.idTokenConfig.claims | quote }}
---
apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-gateway-jwt
spec:
  description: Configuration of oathkeeper for secure endpoint of compass gateway
  upstream:
    url: "http://compass-gateway.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.global.gateway.port }}"
  match:
    methods: ["GET", "POST", "OPTIONS"]
    url: <http|https>://{{ .Values.global.gateway.tls.host }}.{{ .Values.global.ingress.domainName }}<(:(80|443))?>{{ .Values.global.director.prefix }}/graphql
  authenticators:
  - handler: jwt
    config:
      trusted_issuers: ["https://dex.{{ .Values.global.ingress.domainName }}"]
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tenantMappingService | indent 4 }}
  - handler: id_token
    config:
      claims: {{ .Values.global.oathkeeper.idTokenConfig.claims | quote }}
---
apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-gateway-jwt-runtime
spec:
  description: Configuration of oathkeeper for secure endpoint of compass gateway for runtime access
  upstream:
    url: "http://compass-gateway.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.global.gateway.port }}"
    stripPath: "/runtime"
  match:
    methods: ["POST", "OPTIONS"]
    url: <http|https>://{{ .Values.global.gateway.tls.host }}.{{ .Values.global.ingress.domainName }}<(:(80|443))?>/runtime{{ .Values.global.director.prefix }}/graphql
  authenticators:
  - handler: noop
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.runtimeMappingService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tenantMappingService | indent 4 }}
  - handler: id_token
    config:
      claims: {{ .Values.global.oathkeeper.idTokenConfig.claims | quote }}
---
apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-director-certs
spec:
  description: Configuration of oathkeeper for secure endpoint of compass gateway
  upstream:
    url: "http://compass-gateway.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.global.gateway.port }}"
  match:
    methods: ["GET", "POST"]
    url: <http|https>://{{ .Values.global.gateway.mtls.host }}.{{ .Values.global.ingress.domainName }}<(:(80|443))?>{{ .Values.global.director.prefix }}/graphql
  authenticators:
  - handler: noop
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.certificateResolverService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tenantMappingService | indent 4 }}
  - handler: id_token
    config:
      claims: {{ .Values.global.oathkeeper.idTokenConfig.claims | quote }}
---
apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-system-broker-certs
spec:
  description: Configuration of oathkeeper for secure endpoint of compass system broker
  upstream:
    url: "http://compass-system-broker.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.global.system_broker.port }}"
  match:
    methods: ["GET", "POST", "PATCH", "PUT", "DELETE"]
    url: <http|https>://{{ .Values.global.gateway.mtls.host }}.{{ .Values.global.ingress.domainName }}<(:(80|443))?>{{ .Values.global.system_broker.prefix }}<(/.*)?>
  authenticators:
  - handler: noop
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.certificateResolverService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tenantMappingService | indent 4 }}
  - handler: id_token
    config:
      claims: {{ .Values.global.oathkeeper.idTokenConfig.claims | quote }}
---
apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-gateway-director-playground
spec:
  description: Configuration of oathkeeper for unsecure endpoint of compass gateway - director playground
  upstream:
    url: "http://compass-gateway.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.global.gateway.port }}"
  match:
    methods: ["GET"]
    url: <http|https>://<{{ .Values.global.gateway.tls.secure.oauth.host }}|{{ .Values.global.gateway.tls.host }}|{{ .Values.global.gateway.mtls.host }}>.{{ .Values.global.ingress.domainName }}<(:(80|443))?>{{ .Values.global.director.prefix }}/<(examples/.*)?>
  authenticators:
  - handler: anonymous
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
---
apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-connector-one-time-tokens
  namespace: {{ .Release.Namespace }}
spec:
  description: Configuration of oathkeeper for secure endpoint of compass gateway
  upstream:
    url: "http://compass-gateway.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.global.gateway.port }}"
  match:
    methods: ["GET", "POST"]
    url: <http|https>://{{ .Values.global.gateway.tls.host }}.{{ .Values.global.ingress.domainName }}<(:(80|443))?>{{ .Values.global.connector.prefix }}/graphql
  authenticators:
  - handler: noop
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tokenResolverService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tenantMappingService | indent 4 }}
  - handler: id_token
    config:
      claims: {{ .Values.global.oathkeeper.idTokenConfig.claims | quote }}
---
apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-connector-certs
  namespace: {{ .Release.Namespace }}
spec:
  description: Configuration of oathkeeper for secure endpoint of compass gateway
  upstream:
    url: "http://compass-gateway.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.global.gateway.port }}"
  match:
    methods: ["GET", "POST"]
    url: <http|https>://{{ .Values.global.gateway.mtls.host }}.{{ .Values.global.ingress.domainName }}<(:(80|443))?>{{ .Values.global.connector.prefix }}/graphql
  authenticators:
  - handler: noop
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.certificateResolverService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tenantMappingService | indent 4 }}
  - handler: id_token
    config:
      claims: {{ .Values.global.oathkeeper.idTokenConfig.claims | quote }}
---
apiVersion: oathkeeper.ory.sh/v1alpha1
kind: Rule
metadata:
  name: compass-gateway-ord-certs
spec:
  description: Configuration of oathkeeper for endpoint secured by certificates of compass open resource discovery service
  upstream:
    url: "http://{{ .Values.global.ordService.host }}:{{ .Values.global.ordService.port }}"
  match:
    methods: ["GET"]
    url: <http|https>://{{ .Values.global.gateway.mtls.host }}.{{ .Values.global.ingress.domainName }}<(:(80|443))?>{{ .Values.global.ordService.staticPrefix }}/<.*>
  authenticators:
  - handler: noop
  authorizer:
    handler: allow
  mutators:
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.identificationService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.certificateResolverService | indent 4 }}
  - handler: hydrator
{{ toYaml .Values.global.oathkeeper.mutators.tenantMappingService | indent 4 }}
  - handler: id_token
    config:
      claims: {{ .Values.global.oathkeeper.idTokenConfig.claims | quote }}