apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ template "fullname" . }}-secure
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  hosts:
  - '{{ .Values.global.gateway.tls.secure.oauth.host }}.{{ .Values.global.ingress.domainName }}'
  gateways:
  - {{ .Values.global.istio.gateway.namespace }}/{{ .Values.global.istio.gateway.name }}
  http:
  - match:
    - uri:
        exact: {{ .Values.global.director.prefix }}
    redirect:
      uri: {{ .Values.global.director.prefix }}/
    headers:
      request:
        remove:
          {{- range .Values.global.gateway.headers.request.remove }}
          - {{ . }}
          {{- end }}
    corsPolicy:
      allowOrigins:
        - regex: ".*"
      allowHeaders:
        - "authorization"
        - "content-type"
        - "tenant"
      allowMethods:
        - "GET"
  - match:
    - uri:
        regex: /.*
    timeout: {{ .Values.global.oathkeeper.timeout }}
    route:
    - destination:
        host: {{ .Values.global.oathkeeper.host }}
        port:
          number: {{ .Values.global.oathkeeper.port }}
    corsPolicy:
      allowOrigins:
      - regex: ".*"
      allowHeaders:
      - "authorization"
      - "content-type"
      - "tenant"
      - {{ .Values.global.director.clientIDHeaderKey }}
      allowMethods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"