apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ template "fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  hosts:
    - '{{ .Values.global.gateway.tls.host }}.{{ .Values.global.ingress.domainName }}'
  gateways:
    - {{ .Values.global.istio.gateway.namespace }}/{{ .Values.global.istio.gateway.name }}
  http:
    - match:
      - uri:
          prefix: {{ .Values.global.connector.prefix }}
      route:
      - destination:
          host: {{ .Values.global.oathkeeper.host }}
          port:
            number: {{ .Values.global.oathkeeper.port }}
      headers:
        request:
          remove:
            {{- range .Values.global.gateway.headers.request.remove }}
            - {{ . }}
            {{- end }}
    - match:
      - uri:
          prefix: {{ .Values.global.tenantFetcher.prefix }}
      route:
        - destination:
            host: {{ .Values.global.oathkeeper.host }}
            port:
              number: {{ .Values.global.oathkeeper.port }}
    - match:
      - uri:
          prefix:  {{ .Values.global.ordService.docsPrefix }}
      route:
      - destination:
          host: {{ .Values.global.ordService.host }}
          port:
            number: {{ .Values.global.ordService.port }}
    - match:
      - uri:
          prefix: {{ .Values.global.ordService.prefix }}
      - uri:
          prefix: {{ .Values.global.ordService.staticPrefix }}
      route:
        - destination:
            host: {{ .Values.global.oathkeeper.host }}
            port:
              number: {{ .Values.global.oathkeeper.port }}
    - match:
      - uri:
         prefix: {{ .Values.global.director.info.path }}
      route:
        - destination:
            host: {{ .Values.global.director.host }}
            port:
              number: {{ .Values.global.director.graphql.external.port }}
    - match:
      - uri:
          exact: {{ .Values.global.director.prefix }}
      redirect:
        uri: {{ .Values.global.director.prefix }}/
      headers:
        request:
          remove:
            {{- range .Values.global.gateway.headers.request.remove }}
            - {{ . }}
            {{- end }}
    - match:
      - uri:
          regex: /.*
      route:
        - destination:
            host: {{ .Values.global.oathkeeper.host }}
            port:
              number: {{ .Values.global.oathkeeper.port }}
      headers:
        request:
          remove:
            {{- range .Values.global.gateway.headers.request.remove }}
            - {{ . }}
            {{- end }}
      corsPolicy:
        allowOrigins:
          - regex: "(http|https)://(compass-dev|compass|compass-mf).{{ .Values.global.ingress.domainName }}(:[0-9]{4})?"
          - regex: "(http|https)://localhost(:[0-9]{4,5})?"
        allowHeaders:
          - "authorization"
          - "content-type"
          - "tenant"
          - "scenarioGroups"
          - {{ .Values.global.director.clientIDHeaderKey }}
        allowMethods:
          - "GET"
          - "POST"
          - "PUT"
          - "DELETE"
          - "OPTIONS"