{{ $outerScope := . }}
{{- range $authenticatorName, $config := .Values.global.oathkeeper.mutators.authenticationMappingServices -}}
{{if eq $config.authenticator.enabled true}}
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: "compass-gateway-{{ $config.authenticator.name }}"
  namespace: {{ $.Release.Namespace }}
  labels:
    app: {{ template "name" $outerScope }} # Needed because 'for' loop introduces its own scope and 'name' template helper function is in the outer scope
    chart: {{ $.Chart.Name }}-{{ $.Chart.Version | replace "+" "_" }}
    heritage: {{ $.Release.Service }}
    release: {{ $.Release.Name }}
spec:
  hosts:
    - '{{ $config.authenticator.gatewayHost }}.{{ $.Values.global.ingress.domainName }}'
  gateways:
    - {{ $.Values.global.istio.gateway.namespace }}/{{ $.Values.global.istio.gateway.name }}
  http:
    - match:
      - uri:
          regex: '{{ $config.authenticator.path }}'
      route:
        - destination:
            host: {{ $.Values.global.oathkeeper.host }}
            port:
              number: {{ $.Values.global.oathkeeper.port }}
      corsPolicy:
        allowOrigins:
          - regex: ".*"
        allowHeaders:
          - "authorization"
          - "content-type"
          - {{ $.Values.global.director.suggestTokenHeaderKey }}
        allowMethods:
          - "GET"
          - "POST"
          - "PUT"
          - "DELETE"
{{ end }}
{{- end -}}