apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.global.migratorJob.pvc.name }}
  namespace: {{ .Values.global.migratorJob.pvc.namespace }}
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
spec:
  {{- if eq .Values.global.migratorJob.pvc.isLocalEnv true }}
  storageClassName: local-path
  {{- else }}
  storageClassName: standard
  {{- end }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
