{{ if and .Values.global.isLocalEnv .Values.global.isForTesting }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ $.Values.global.nsAdapter.secret.name }}
  namespace: kyma-system
data:
  {{ $.Values.global.nsAdapter.secret.subaccountKey }}: {{ "subaccount" | b64enc | quote }}
  {{- end -}}
