apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.global.director.graphql.external.port }}
      protocol: TCP
      name: http
    - port: {{ .Values.global.director.operations.port }}
      protocol: TCP
      name: http-internal
    - port: {{ .Values.global.istio.proxy.port }}
      protocol: TCP
      name: proxy-status
    - port: {{ .Values.global.director.validator.port }}
      protocol: TCP
      name: http-validator
  selector:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
---
{{- if eq .Values.global.metrics.enabled true -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.global.director.metrics.port }}
      protocol: TCP
      appProtocol: http
      name: metrics
  selector:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
{{- end }}
