{{ if .Values.istio.rbac.enabled  }}
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: {{ template "fullname" . }}-internal
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ .Release.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    app.kubernetes.io/name: {{ template "name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
      release: {{ .Release.Name }}
  action: ALLOW
  rules:
    - from:
      - source:
          principals:
          - {{ tpl .Values.istio.rbac.connectorInternalApi.compassDirector . }}
          - {{ tpl .Values.istio.rbac.connectorInternalApi.compassConnectorTests . }}
    - to:
      - operation:
          ports:
          - "{{ .Values.global.connector.validator.port }}"
          - "{{ .Values.global.connector.graphql.external.port }}"
{{ end }}
