# This file is not part of official PostgreSQL chart
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "fullname" . }}-db-init
data:
  init-director-db.sql: |
    CREATE DATABASE {{ .Values.global.database.embedded.director.name }};
    CREATE DATABASE {{ .Values.global.database.embedded.connector.name }};
