deployment:
  replicaCount: 1
  port: 8080
  image:
    pullPolicy: IfNotPresent
  resources: {}
  securityContext: # Set on container level
    runAsUser: 2000
    allowPrivilegeEscalation: false
  strategy: {} # Read more: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
  nodeSelector: {}
  adapters:
    adapter0:
      enabled: false
      authSecret: ""
      envs:
        mappingTemplateExternalURL: ""
        mappingTemplateHeaders: ""
        mappingTemplateJSONBody: ""
        mappingTemplateTokenFromResponse: ""
        oauthStyle: ""