{{- range $adapterName, $config := .Values.deployment.adapters -}}
{{if eq $config.enabled true}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: "compass-pairing-adapter-{{ $adapterName }}"
    namespace: {{ $.Release.Namespace }}
    labels:
        app: {{ $.Chart.Name }}
        release: {{ $.Release.Name }}
        system: {{ $adapterName }}
spec:
    replicas: {{ $.Values.deployment.replicaCount }}
    selector:
        matchLabels:
            app: {{ $.Chart.Name }}
            release: {{ $.Release.Name }}
            system: {{ $adapterName }}
    strategy:
        {{- toYaml $.Values.deployment.strategy | nindent 8 }}
    template:
        metadata:
            labels:
                app: {{ $.Chart.Name }}
                release: {{ $.Release.Name }}
                system: {{ $adapterName }}
        spec:
            nodeSelector:
              {{- toYaml $.Values.deployment.nodeSelector | nindent 14 }}
            containers:
            - name: {{ $.Chart.Name }}
              image: {{ $.Values.global.images.containerRegistry.path }}/{{ $.Values.global.images.pairing_adapter.dir }}pairing-adapter:{{ $.Values.global.images.pairing_adapter.version }}
              imagePullPolicy: {{ $.Values.deployment.image.pullPolicy }}
              env:
              - name: MAPPING_TEMPLATE_EXTERNAL_URL
                value: {{ $config.envs.mappingTemplateExternalURL  }}
              - name: MAPPING_TEMPLATE_HEADERS
                value: {{ $config.envs.mappingTemplateHeaders | quote }}
              - name: MAPPING_TEMPLATE_JSON_BODY
                value: {{ $config.envs.mappingTemplateJSONBody | quote }}
              - name: MAPPING_TEMPLATE_TOKEN_FROM_RESPONSE
                value: {{ $config.envs.mappingTemplateTokenFromResponse | quote }}
              - name: AUTH_TYPE
                value: {{ $config.auth.type }}
{{if eq $config.auth.type "oauth" }}
              - name: OAUTH_URL
                valueFrom:
                    secretKeyRef:
                        name: {{ $config.authSecret }}
                        key: url
              - name: OAUTH_CLIENT_ID
                valueFrom:
                    secretKeyRef:
                        name: {{ $config.authSecret }}
                        key: clientID
              - name: OAUTH_CLIENT_SECRET
                valueFrom:
                    secretKeyRef:
                        name: {{ $config.authSecret }}
                        key: clientSecret
              - name: OAUTH_AUTH_STYLE
                value: {{ $config.envs.oauthStyle | quote }}
{{ end }}
              - name: LOG_FORMAT
                value: {{ $.Values.global.log.format | quote }}
              ports:
              - name: http
                containerPort: {{ $.Values.deployment.port }}
                protocol: TCP
              resources:
                {{- toYaml $.Values.deployment.resources | nindent 16 }}
                    {{- with $.Values.deployment.securityContext }}
              securityContext:
{{ toYaml . | indent 16 }}
        {{- end }}
              livenessProbe:
                  httpGet:
                      port: {{ $.Values.deployment.port }}
                      path: "/healthz"
                  initialDelaySeconds: {{ $.Values.global.livenessProbe.initialDelaySeconds }}
                  timeoutSeconds: {{ $.Values.global.livenessProbe.timeoutSeconds }}
                  periodSeconds: {{ $.Values.global.livenessProbe.periodSeconds }}
              readinessProbe:
                  httpGet:
                      port: {{ $.Values.deployment.port }}
                      path: "/healthz"
                  initialDelaySeconds: {{ $.Values.global.readinessProbe.initialDelaySeconds }}
                  timeoutSeconds: {{ $.Values.global.readinessProbe.timeoutSeconds }}
                  periodSeconds: {{ $.Values.global.readinessProbe.periodSeconds }}
{{ end }}
{{- end -}}