deployment:
  replicaCount: 1
  image:
    pullPolicy: IfNotPresent
  resources: {}
  securityContext: # Set on container level
    runAsUser: 2000
    allowPrivilegeEscalation: false
  strategy: {} # Read more: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
  nodeSelector: {}

gateway:
  enabled: true # ISTIO related resources(istio gateway)
  manageCerts: true # ISTIO related resources(istio gateway)
  auditlog: # COMPASS related resources(compass gateway)
    enabled: false
    authMode: "basic"
