.generic-list {
  height: fit-content;

  .fd-table {
    thead {
      th {
        font-size: 12.5px;
      }
    }

    tr {
      cursor: default;
    }

    &.compact {
      td {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    border-left: none;
    border-right: none;
  }
  .fd-panel__body {
    padding: 0;
    display: flex;
  }

  .fd-panel__header {
    display: flex;
    justify-content: space-between;

    .fd-panel__title {
      font-size: 16px;
    }

    > section > * {
      display: inline-block;
    }

    .fd-panel__actions {
      *:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  td {
    vertical-align: middle;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  .body-fallback {
    width: 100%;
    font-size: 18px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .fd-table .list-actions button {
    margin-top: -12px;
    margin-bottom: -12px;
  }
}

.generic-list-search {
  input {
    // override .fd-input
    width: 200px;
    padding-left: 48px !important;

    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjNEQ1QTZDIiBkPSJNOS43NTQgMTkuNDk2YTkuNjg0IDkuNjg0IDAgMCAwIDYuMDk3LTIuMTU4bDguMjg5IDguMzRhMS4wODQgMS4wODQgMCAwIDAgMS41MzUtMS41MjlsLTguMy04LjM1YTkuNjg5IDkuNjg5IDAgMCAwIDIuMTItNi4wNTRjMC01LjM3Ny00LjM2OS05Ljc1MS05Ljc0MS05Ljc1MVMuMDEzIDQuMzY4LjAxMyA5Ljc0NXM0LjM2OSA5Ljc1MSA5Ljc0MSA5Ljc1MXptMC0xNy4zMzVjNC4xNzcgMCA3LjU3NyAzLjQwMiA3LjU3NyA3LjU4NCAwIDQuMTgyLTMuNCA3LjU4NC03LjU3NyA3LjU4NC00LjE3OCAwLTcuNTc3LTMuNDAyLTcuNTc3LTcuNTg0IDAtNC4xODIgMy4zOTktNy41ODQgNy41NzctNy41ODR6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px;
  }

  .fd-popover__body {
    width: 100%;
  }

  .fd-menu__list {
    max-height: 50vh;
    overflow-y: scroll;

    .fd-menu__item {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .fd-menu__item--no-entries {
      font-style: italic;
    }
  }
}
