{{- if eq .Values.global.metrics.enabled true -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.metrics.port }}
      protocol: TCP
      appProtocol: http
      name: metrics
  selector:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
{{- end }}
